name: Build Emulator
on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Clone Repository
      uses: actions/checkout@v1
      
    - name: Prepare the Host
      run: ./setup-host.sh
    
    - name: Prepare the Emulator
      run: ./setup-emulator.sh
